# --- Build & Output ---
[Bb]in/
[Oo]bj/
.vs/
.vscode/
.idea/

# --- User Specific & OS ---
*.user
*.suo
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db

# --- Logs & Test ---
*.log
TestResults/

# --- Crashes ---
*.dump